body{
    background-image: url("https://unsplash.it/2000/1700?image=681");
    background-repeat: no-repeat;
}
@media screen and (max-width:800px){
    body{
            background-image: url("https://unsplash.it/2000/3000?image=681");
    }
}



.wrapper {
    max-width: 80%;
    margin: 0 auto;
}
.innerwrapper {
    max-width: 100%;
    margin: 0 auto;
}
.wrapper > .global {
    display: flex;
}
.nav-menu{
    background-color: #2D4571;
}
@media screen and (max-width: 640px){
   nav div.nav-menu ul{
        max-width: 100%;
    }
}
div.nav-menu ul {
    max-width: 80%;
    margin: 0 auto;
}
div.wrapper > nav.global {
    display: block;
    margin: 0 auto;
}
div.nav-menu ul{
    display: flex;
    justify-content: space-between;
}
div.nav-menu ul li{
    text-align: center;
}
div.nav-menu ul li:first-of-type a{
    padding: 0;
}
div.nav-menu ul li:first-of-type a img{
    filter: invert();
    padding-top: 0.25em;
    height: 1.9em;
}
@media screen and (max-width: 800px){
    nav{
        background-color: white;
    }
}
div.nav-menu ul li a{
    padding: 0.5em 0;
    transition: 0.2s;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    line-height: 30px;
    text-decoration: none;
}
div.nav-menu ul li a:hover{
    background-color: #142C59;
}
.nav-toggle{ /** damn specificity **/
    display: inline-block;
}
a.nav-toggle{ 
    font-weight: bold;
    transition: 0.2s;
    font-size: 2em;
    color: black;
    text-decoration: none;
    padding: 10px;
}
a.nav-toggle:hover{
    background-color: #ccc;
}
a.nav-toggle.active{ /** .active is active at widths below 640px **/ 
    display: block;
    opacity: 0.3;
}