@media screen and (max-width: 800px){
    ul.s-nav li > a{
        padding: 1em 0;
    }
}
.s-nav > li > a{
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;
    color: black;
    width: 100%;
}
.list-master{
    background-color: white;
    font-size: 1.5em;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    ul.s-nav{
        min-width: initial;
    }
    .innerwrapper{
        min-width: 70%;
        background-color: white;
    }
    div.content img{
        max-width: 100%;
        box-sizing: border-box;
    }
    ul li.list-master > .sub-list li > a{
        color: blue;
        font-size: 0.8em;
    }
}
.s-nav{
    min-width: 15%;
}
.innerwrapper{
    min-width: 85%;
}
.s-nav a{
    text-decoration: none;
}
.s-nav a.displayed + .sub-list{
    display: inline-block;
}
.s-nav > li{
    border: 1px solid #eee;
}
.sub-list{
    display: none;
}
.sub-list > li > a{
    padding: 0.5em 0;
}
.sub-list{
    width: 100%;
}
.sub-list > li > a{
    display: block;
    text-align: center;
    width: 100%;
}
.wrapper{   
    background-color: white;
}
.content{
    display: none;
}
.content img{
    max-width: 25%;
    float: left;
    padding: 1em;
}
.content p{
    padding: 1em;
}
a#earth {
    background-color: #eee;
}
#earth{
    display: block;
}