body{
    background-image: url("https://unsplash.it/2000/1700?image=681");
    background-repeat: no-repeat;
}
.nav-menu {
    margin-bottom: 10em;
}

main{
    font-family: sans-serif;
}
.innerwrapper{
    display: flex;
    width: 100%;
    max-height: 35em;
}
.sites {
    box-sizing: border-box;
    padding: 1.5em;
    width: 50%;
}
.sites h2{
    text-align: center;
    font-size: 2em;
    color: white;
}
.sites ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.sites li{
    margin: 0.5em 0;
    display: block;
    max-width: 100%;
}
.sites li a{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.5em 0 0.5em 0.5em;
    color: white;
    font-size: 1.5em;
    display: block;
    box-sizing: border-box;
}
.sites li a:hover + div{
    padding: 0.2em;
    box-sizing: border-box;
    width: 100%;
    height: initial;
    opacity: 1;
    background-color: white;
}
.sites li div{
    transition: 0.5s;
    display: block;
    opacity: 0;
    height: 0px;
}
sites li div p{
    line-height: 1.2em;
}
.sites li div img{
    max-height: 128px;
    max-width: 100%;
}
.sites li a:hover{
    background-color: rgba(255,255,255,0.2);
}


.wrapper{
    background-color: rgba(23,40,70, 0.9);
    border: 1px solid #fff;
}
.twatter{
    width: 30%;
    max-height: 100%;
    overflow-x: visible;
    overflow: scroll;
}
.profile{
    width: 20%;
}
.profile img{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    border: 1px solid #fff;
}
.profile h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em;
}
.profile h4{
    color: white;
    text-align: center;
}
.profile p{
    line-height: 1.2em;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-family: serif;
    padding: 0.5em 0.5em;
    margin: 0.5em;
}
