body{
    background-image: url("https://unsplash.it/2000/1700?image=681");
    background-repeat: no-repeat;
}
.nav-menu {
    margin-bottom: 7    em;
}

main{
    font-family: sans-serif;
}
.innerwrapper{
    display: flex;
    flex-flow: wrap;
    width: 100%;
}
.sites {
    box-sizing: border-box;
    padding: 1.5em;
    width: 50%;
}
.sites h2{
    text-align: center;
    font-size: 2em;
    color: white;
}
.sites ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.sites li{
    margin: 0.5em 0;
    display: block;
    max-width: 100%;
}
.sites li a{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.5em 0 0.5em 0.5em;
    color: white;
    font-size: 1.5em;
    display: block;
    box-sizing: border-box;
}
.sites li a:hover + div{
    padding: 0.2em;
    box-sizing: border-box;
    width: 100%;
    height: initial;
    opacity: 1;
    background-color: white;
}
.sites li div{
    transition: 0.5s;
    display: block;
    opacity: 0;
    height: 0px;
}
sites li div p{
    line-height: 1.2em;
}
.sites li div img{
    max-height: 128px;
    max-width: 100%;
}
.sites li a:hover{
    background-color: rgba(255,255,255,0.2);
}


.wrapper{
    background-color: rgba(23,40,70, 0.9);
    border: 1px solid #fff;
}
.twatter{
    width: 30%;
    max-height: 35em;
    overflow-y: scroll;
}
.twatter a{
    color: white;
}
.profile{
    width: 20%;
}
.profile img{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    border: 1px solid #fff;
}
.profile h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em;
}
.profile h4{
    color: white;
    text-align: center;
}
.profile p{
    line-height: 1.2em;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-family: serif;
    padding: 0.5em 0.5em;
    margin: 0.5em;
}
.slider{
    position: relative;
    width: 100%;
}
#slideImg{
    display: block;
    width: 100%;
}
#slideDesc{
    background-color: rgba(0,0,0,0.5);
    color: white;
    box-sizing: border-box;
    padding: 1em;
    position: absolute;
    line-height: 1;
    font-size: 0.8;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
}
.button{
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 3em;
    padding: 0.25em 0.5em;
}
.button:hover{
    background-color: rgba(255,255,255,0.5);
}
#left{
    left: 0;
    bottom: 0;
}
#right{
    right: 0;
    bottom: 0;
}








@media screen and (max-width:800px){
    .innerwrapper > div{
        width: 100%;
    }
    body{
            background-image: url("https://unsplash.it/2000/3000?image=681");
    }
    .sites li a{
        text-align: center;
    }
    .sites li div{
    opacity: 1;
    height: initial;
        background-color: white;
    }
    #slideDesc{
        top: 100%;
        width: 100%;
    }
    
}