.timeline{
    display: flex;
    flex-flow: wrap;
}
#earth {
    display: block;
}
.content{
    padding: 1em;
    border: 1px solid #eee;
    margin-bottom: 0.5em;
}
.content:hover{
    background-color: #eee;
}
.sub-content{
    display: none;
    height: 0px;
    opacity: 0;
    transition: 0.3s;
}
.sub-content img{
    float: left;
    padding: 1em;
}
.sub-content p {
    padding: 1em;
    box-sizing: border-box;
}
h2.displayed+.sub-content{
    display: block;
    opacity: 1;
    height: initial;
}
h2{
    text-align: center;
    font-size: 2em;
}
b{
    font-weight: bold;
}
